In [1]:
import pandas as pd
import numpy as np
import requests
import json
import os
import pprint
from statesjson import us_states_json
from states import us_states
from citipy import citipy

In [2]:
DSD = pd.read_csv("Dark_Sky_Data.csv")

In [3]:
DSD

,Country,Limiting Magnitude,Date,Latitude,Longitude
0,United States - Alabama,7,2009-03-22,33.0428,-87.394
1,United States - Alaska,7,2008-03-05,33.0428,-87.394
2,United States - Arizona,7,2015-06-13,33.0428,-87.394
3,United States - Arkansas,7,2007-03-22,33.0428,-87.394
4,United States - California,7,2014-02-24,33.0428,-87.394
...,...,...,...,...,...
82492,United States - Arizona,-9999,2016-09-12,32.3279,-110.932
82493,United States - Arizona,-9999,2016-09-12,33.3679,-111.904
82494,United States - Arizona,-9999,2015-02-12,32.2337,-110.876
82495,United States - Arizona,-9999,2015-03-17,33.2917,-111.977
82496,United States - Arizona,-9999,2015-03-18,32.1928,-110.839

In [4]:
PC = pd.read_csv("Park Coordinates.csv")
pcrounded = PC.round({"Latitude": 4, "Longitude": 3})
#round to make sure data matches between two DFs

In [5]:
pcrounded

    Latitude  Longitude                                         Park
0    44.3386    -68.273                         Acadia National Park
1   -14.2583   -170.683              National Park of American Samoa
2    38.7331   -109.593                         Arches National Park
3    43.8554   -102.340                       Badlands National Park
4    29.1275   -103.243                       Big Bend National Park
..       ...        ...                                          ...
57   43.6046   -103.421                      Wind Cave National Park
58   61.7104   -142.986  Wrangell-St. Elias National Park & Preserve
59   44.4280   -110.588                    Yellowstone National Park
60   37.8651   -119.538                       Yosemite National Park
61   37.2982   -113.026                           Zion National Park

[62 rows x 3 columns]

In [6]:
def cartesian_product_basic(left, right):
    return (
       DSD.assign(key=1).merge(pcrounded.assign(key=1), on='key').drop('key', 1))
dsd_merged_df = cartesian_product_basic(DSD, pcrounded)
#Credit: Umair Khakoo

In [27]:
z = 0
list_lat = []
for row in dsd_merged_df.iterrows():
    lat = abs((dsd_merged_df["Latitude_x"]) - (dsd_merged_df["Latitude_y"]))
    #abs((dsd_merged_df["Longitude_x"]) - (dsd_merged_df["Longitude_y"]))
    list_lat.append(lat)

MemoryError: Unable to allocate 39.0 MiB for an array with shape (5114814,) and data type float64